PORT=5000
CLIENT_URL=http://localhost:5173

MONGO_URI=
JWT_SECRET=
SESSION_SECRET=

AWS_REGION=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_S3_BUCKET_NAME=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=

FIREBASE_SERVICE_ACCOUNT_JSON=

ADMIN_NAME=ReadNest Admin
ADMIN_EMAIL=admin@readnest.local
ADMIN_PASSWORD=
